﻿@model SchoolMVC.Models.Product

@{
    ViewBag.Title = "Details";
}

<style>

    .image_detail {
        width: 400px;
        height: 400px;
        float: right;
        border-style: groove;
        border-width: 5px;
        border-color: black;
    }
    h1 {
        font-weight: bold;
    }
    h4 {
        font-weight: bold;
    }
    .display_text{
        margin-left: 20px;
    }
    body {
        background-image: url("../../Content/images/bc.jpg");
    }


    </style>

<body>
<div class="well">
<h2>Details</h2>

    <hr />

    <div class="row">
        <div class="col-sm-6">

                <h1>
                    @Html.DisplayFor(model => model.ProductName)
                </h1>
            <br>
                <h4>
                    @Html.DisplayNameFor(model => model.Category.Type):
                </h4>
                <p class="display_text">
                    @Html.DisplayFor(model => model.Category.Type)
                </p>

                <h4>
                    @Html.DisplayNameFor(model => model.Price):
                </h4>
                <p class="display_text">
                    @Html.DisplayFor(model => model.Price) euro
                </p>

                <h4>
                    @Html.DisplayNameFor(model => model.Description):
                </h4>
                <p class="display_text">
                    @Html.DisplayFor(model => model.Description)
                </p>
            <br>

        </div>
        <div class="col-sm-6">
            <img class="image_detail" src="/Content/images/@Html.DisplayFor(model => model.Photo)" />
        </div>
    </div>
    <hr>
    <p>
        @Html.ActionLink("Add to cart", "AddToCart","ShoppingCart", new { id = Model.Id }, "") |
        @Html.ActionLink("Back to List", "Index")
    </p>
    </div>
</body>