﻿@using SchoolMVC.Models
@using PagedList.Mvc;
@using PagedList;
@model IPagedList<SchoolMVC.Models.Product>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<style>
    .banner {
        align-items: center;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        overflow: hidden;
        position: relative;
        text-align: center;
        width: 100%;
        background-image: url("/Content/images/BanBG.jpg");
        background-size: 100% 500px;
        background-position: 100px;
    }


    .product-display {
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0,0,0,.25);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .product-display__visual {
        background-color: #f7f7f7;
        flex: 0 0 auto;
        position: relative;
        text-align: center;
        height: 20rem;
    }

    .product-display__categories {
        background-color: rgba(0,0,0,.6);
        box-shadow: 0 2px 4px rgba(0,0,0,.5);
        border-radius: .3rem;
        bottom: 1rem;
        color: #fff;
        display: inline-block;
        left: 2rem;
        padding: .5rem 1.2rem;
        position: absolute;
    }

    .product-display__info {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem 2rem 3.5rem;
    }

    .product-display__image-link {
        background-size: cover;
        background-position: 50%;
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
    }
    .product-list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin-bottom: 2rem;
    }

    .product-card__shop {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
</style>
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <div class="banner">               
                <br />  
                <div style="background-color:white; Color:black; border-radius: 20%; width:400px;">
                    <h2>Onze prachtige producten</h2>
                    <p>Wij hebben maar lieft @ViewBag.AmountOfProducts producten! Genoeg om uit te kiezen!</p>
                    <p>Leuk feitje, ons goedkoopste product is op dit moment: @(((Product)ViewBag.MostExpensive)?.ProductName)</p>
                    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
                    {
                        <p>
                            Zoek je Product: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                            <input type="submit" value="Search" class="btn btn-primary" />
                        </p>
                        <br />
                    }
                    
                </div>
                <br />
            </div>
            <div class="container">
                <!-- Nav tabs, hier kan je nieuwe tabs aanmaken. Doe dit dan ook voor de code hieronder, anders werkt het niet. -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home">Alles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu1">Figures</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu2">Bags</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu3">Trading Cards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu4">Manga</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu5">Other Merchandise</a>
                    </li>
                </ul>

                <!-- Tab panes, hier moet je alle producten zetten. -->
                <!-- Oke dit is dus het eerste tabje-->
                <div class="tab-content">
                    <div id="home" class="container tab-pane @(string.IsNullOrEmpty(@ViewBag.Category) ? " active" : "fade")">
                        <h3>Alle producten</h3>
                        <p>Neem een kijkje in al onze producten!</p>

                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-md-4">
                                    <div class="product-list">
                                        <div class="product-display">
                                            <div class="product-display__visual">
                                                <a class="product-display__image-link lazyload is-lazyloaded" href="/Products/details/@item.Id" style="background-image:url('/Content/images/@item.Photo');"></a>

                                                <div class="product-display__categories">

                                                    @Html.DisplayFor(modelItem => item.Category.Type)
                                                </div>
                                            </div>
                                            <div class="product-display__info">
                                                <span style="font-size:20px;">
                                                    @Html.DisplayFor(modelItem => item.ProductName)
                                                 </span>
                                                    
                                                <div class="product-card__shop">
                                                    €@Html.DisplayFor(modelItem => item.Price)
                                                    <button class="favorite styled"
                                                            type="button">
                                                        @Html.ActionLink("Add to cart", "AddToCart",
                                                        "ShoppingCart", new { id = item.Id }, "")

                                                    </button>                                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <br />
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

                    </div>


                    <!--dit is dus het tweede tabje-->
                    <div id="menu1" class="container tab-pane @(ViewBag.Category == "Figures" ? "active" : "fade")">

                        <h3>Figures</h3>
                        <p>CAT_1 staat voor categorie 1. Eh zet hier alles wat met deze categorie te maken heeft.</p>
                        <div class="row">
                            @foreach (var item in Model.Where(w => w.Category.Type == "Figures"))
                            {
                                <div class="col-md-4">
                                    <div class="product-list">
                                        <div class="product-display">
                                            <div class="product-display__visual">
                                                <a class="product-display__image-link lazyload is-lazyloaded" href="/Products/details/@item.Id" style="background-image:url('/Content/images/@item.Photo');"></a>

                                                <div class="product-display__categories">

                                                    @Html.DisplayFor(modelItem => item.Category.Type)
                                                </div>
                                            </div>
                                            <div class="product-display__info">
                                                <span style="font-size:20px;">
                                                    @Html.DisplayFor(modelItem => item.ProductName)
                                                 </span>
                                                    
                                                <div class="product-card__shop">
                                                    €@Html.DisplayFor(modelItem => item.Price)
                                                    @Html.ActionLink("Add to cart", "AddToCart",
                                                    "ShoppingCart", new { id = item.Id }, "")
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, category = "Figures" }))

                    </div>


                    <!--dit is dus het derde tabje-->
                    <div id="menu2" class="container tab-pane @(ViewBag.Category == "Bags" ? "active" : "fade")">
                        <h3>Bags</h3>
                        <p>CAT_1 staat voor categorie 1. Eh zet hier alles wat met deze categorie te maken heeft.</p>
                        <div class="row">
                            @foreach (var item in Model.Where(w => w.Category.Type == "Bags"))
                            {
                                <div class="col-md-4">
                                    <div class="product-list">
                                        <div class="product-display">
                                            <div class="product-display__visual">
                                                <a class="product-display__image-link lazyload is-lazyloaded" href="/Products/details/@item.Id" style="background-image:url('/Content/images/@item.Photo');"></a>

                                                <div class="product-display__categories">

                                                    @Html.DisplayFor(modelItem => item.Category.Type)
                                                </div>
                                            </div>
                                            <div class="product-display__info">
                                                <span style="font-size:20px;">
                                                    @Html.DisplayFor(modelItem => item.ProductName)
                                                </span>

                                                <div class="product-card__shop">
                                                    €@Html.DisplayFor(modelItem => item.Price)
                                                    @Html.ActionLink("Add to cart", "AddToCart",
                                                    "ShoppingCart", new { id = item.Id }, "")
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, category = "Bags" }))
                    </div>

                    <!--dit is dus het derde tabje-->
                    <div id="menu3" class="container tab-pane @(ViewBag.Category == "Trading Cards" ? "active" : "fade")">
                        <h3>Trading Cards</h3>
                        <p>CAT_1 staat voor categorie 1. Eh zet hier alles wat met deze categorie te maken heeft.</p>
                        <div class="row">
                            @foreach (var item in Model.Where(w => w.Category.Type == "Trading Cards"))
                            {
                                <div class="col-md-4">
                                    <div class="product-list">
                                        <div class="product-display">
                                            <div class="product-display__visual">
                                                <a class="product-display__image-link lazyload is-lazyloaded" href="/Products/details/@item.Id" style="background-image:url('/Content/images/@item.Photo');"></a>

                                                <div class="product-display__categories">

                                                    @Html.DisplayFor(modelItem => item.Category.Type)
                                                </div>
                                            </div>
                                            <div class="product-display__info">
                                                <span style="font-size:20px;">
                                                    @Html.DisplayFor(modelItem => item.ProductName)
                                                </span>

                                                <div class="product-card__shop">
                                                    €@Html.DisplayFor(modelItem => item.Price)
                                                    @Html.ActionLink("Add to cart", "AddToCart",
                                                    "ShoppingCart", new { id = item.Id }, "")
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, category = "Trading Carts" }))
                    </div>

                    <!--dit is dus het derde tabje-->
                    <div id="menu4" class="container tab-pane @(ViewBag.Category == "Manga" ? "active" : "fade")">
                        <h3>Manga</h3>
                        <p>CAT_1 staat voor categorie 1. Eh zet hier alles wat met deze categorie te maken heeft.</p>
                        <div class="row">
                            @foreach (var item in Model.Where(w => w.Category.Type == "Manga"))
                            {
                                <div class="col-md-4">
                                    <div class="product-list">
                                        <div class="product-display">
                                            <div class="product-display__visual">
                                                <a class="product-display__image-link lazyload is-lazyloaded" href="/Products/details/@item.Id" style="background-image:url('/Content/images/@item.Photo');"></a>

                                                <div class="product-display__categories">

                                                    @Html.DisplayFor(modelItem => item.Category.Type)
                                                </div>
                                            </div>
                                            <div class="product-display__info">
                                                <span style="font-size:20px;">
                                                    @Html.DisplayFor(modelItem => item.ProductName)
                                                </span>

                                                <div class="product-card__shop">
                                                    €@Html.DisplayFor(modelItem => item.Price)
                                                    @Html.ActionLink("Add to cart", "AddToCart",
                                                    "ShoppingCart", new { id = item.Id }, "")
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, category = "Manga" }))
                    </div>

                    <!--dit is dus het derde tabje-->
                    <div id="menu5" class="container tab-pane @(ViewBag.Category == "Other Merchandise" ? "active" : "fade")">
                        <h3>Other Merchandise</h3>
                        <p>CAT_1 staat voor categorie 1. Eh zet hier alles wat met deze categorie te maken heeft.</p>
                        <div class="row">
                            @foreach (var item in Model.Where(w => w.Category.Type == "Other Merchandise"))
                            {
                                <div class="col-md-4">
                                    <div class="product-list">
                                        <div class="product-display">
                                            <div class="product-display__visual">
                                                <a class="product-display__image-link lazyload is-lazyloaded" href="/Products/details/@item.Id" style="background-image:url('/Content/images/@item.Photo');"></a>

                                                <div class="product-display__categories">

                                                    @Html.DisplayFor(modelItem => item.Category.Type)
                                                </div>
                                            </div>
                                            <div class="product-display__info">
                                                @Html.DisplayFor(modelItem => item.ProductName)
                                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                                <div class="product-card__shop">
                                                    €@Html.DisplayFor(modelItem => item.Price)
                                                    @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = item.Id }, "")
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, category = "Other Merchandise" }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>