﻿@model SchoolMVC.ViewModels.ShoppingCartViewModel
@using SchoolMVC.Models

@{
    ViewBag.Title = "Shopping Cart";
}

<style>
    table, th, td {
        border: 3px solid black;
        padding: 15px;
        border-collapse: collapse;
    }

        table#t01 th {
            background-color: dodgerblue;
            color: white;
        }
</style>

<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".RemoveLink").click(function () {
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");
            if (recordToDelete != '') {
                // Perform the ajax post
                $.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }
                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text('Cart (' + data.CartCount + ')');
                    });
            }
        });
    });
</script>

<div class="col-sm-12">
    <div class="well">
        <center>
            <h3>
                <b>Winkelmandje</b>
            </h3>
            <p> U heeft de volgende producten in uw winkelmandje: </p>
        </center>
        <p class="button">

        </p>
        <div id="update-message">
        </div>
        <center>
            <br />
            <table id="t01">
                <tr>
                    <th>
                        ProductName
                    </th>
                    <th>
                        Price (each)
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model.CartItems)
                {
                    <tr id="row-@item.RecordId">
                        <td>
                            @Html.ActionLink(item.Product.ProductName, "Details", "Store", new { id = item.ProductId }, null)
                        </td>
                        <td>
                            @item.Product.Price
                        </td>
                        <td id="item-count-@item.RecordId">
                            @item.Count
                        </td>
                        <td>
                            <a href="#" class="RemoveLink"
                               data-id="@item.RecordId">
                                Remove
                                from cart
                            </a>
                        
                    </tr>
                }
                <tr>
                    <td>
                        Totaal
                    </td>
                    <td></td>
                    <td></td>
                    <td id="cart-total">
                        <b>
                            @Model.CartTotal
                        </b>
                    </td>
                </tr>
            </table>
        </center>
<br />
        <br />
        <center>
            <p>Bestel nu en je bestelling wordt gratis verzonden!</p>
            <input type="submit" value="Verder naar bestellen" class="btn btn-success" />

            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Betaal methodes</button>
            <div id="demo" class="collapse">
                <img style="width:150px;" src="~/Content/images/Payment_methods.png">
            </div>
        </center>
    </div>
    <img style="position:absolute; top: 15px; right:5px; width:250px;" src="~/Content/images/AOT_Cart.png">
    <img style="position:absolute; top: 150px; left:20px; width:150px;" src="~/Content/images/Link_Cart.jpg.png">
</div>
