﻿
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <center>
                <h2><b>Profiel</b></h2>
                <hr>
                Naam: <b>Sjors</b>
                <hr>
                Email: <b>Sjors@IkHebHonger.com</b>
                <hr>
                Lid sinds: <b>2012</b>
                <hr>
                Favo merch: <b>Rick and Morty</b>
                <hr>
                Profielfoto:
                <br />
                <img src="~/Content/images/pf.jpg" width="720">
            </center>
            
            
            <center>
            <br />
            <button type="button" class="buttonProces" data-toggle="collapse" data-target="#wijzigen">Gegevens wijzigen</button></center>
            <div id="wijzigen" class="collapse">
                <form method="POST" action="profile">
                    <hr>
                    <br>
                   
                    <p>
                        Nieuw wachtwoord<input type="text" class="form-control-plaintext" id="inputPassword">
                        <br />
                        Andere email adres<input type="text" class="form-control-plaintext" id="inputPassword">
                        <br />
                        <button>Verander profiel foto</button><br />
                    </p>
                        <br>
                        <button type="submit" class="buttonProcesGroen">Veranderen</button>
            </form>
                        </div>
        </div>
        </div>
    </div>

