﻿
@{
    ViewBag.Title = "index";
}

<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <center><h2><b>Wie zijn wij?</b></h2></center>
            <br>
            <b>Greetings hero,</b><br>
            Wij zijn een team van "highly trained "programmers"" die enorm goed zijn in programmeren.
            Wij verkopen zowel video games als superhero merchandise!
            Leuk toch! 
            Als je opzoek bent naar video games of super hero merchandise, dan bent u
            op de goede site!
            <br />
            <br />
            <b>Onze missie</b><br>
            Wij geloven dat de impact enorm kan zijn wanneer iemand een product van ons koopt.
            Daarom investeren we in de toekomst van jongeren door onz bezig te houden met de verkoop
            van dit soort type merchandise. Wij geloven dat echte verandering altijd online begint.
            Het begint wanneer elk individu hier wat koopt. Hun eigen portomonee, dat is de echte game-changer.
            En dat is waar wij voor staan.
            <br />
            <br />
            <b>Onze visie</b><br>
            We zien onze klant zijn/haar portomonee als de meest cruciale item op aarde om onze visie te realiseren.
            Omdat zelfverzekerde jonge mensen in staat zullen zijn om onze prodcuten te kunnen kopen, willen we 
            graag wat bekender onder hen worden. Aan hun leeftijdsgenoten, ouders,
            leraren, teamgenoten en mentoren: vertel onze site door :D.
            <br />
            <br />
            <center><i>Veel shopping plezier!</i> - <b>Groetjes van team S&S</b><br></center>
            <br />
            <center><img style="width:1000px;" src="~/Content/images/HetTeam.png"></center>
            <br>
        </div>
    </div>
</div>

