﻿
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <center><h2><b>Frequently asked questions</b></h2></center>
            <br>
            <b>1. Kan ik hier veilig kopen?</b><br>
            Dat kan zeker, de programmeur, Darrel Mungra, die software security heeft gevolg heeft deze
            webshop waterdricht gemaakt.
            <br><br>
            <b>2. Gebruikt deze site cookies?</b><br>
            Ja, The Retro Shop gebruikt de verzamelde gegevens om haar klanten de volgende diensten te leveren:
            Als u een bestelling plaatst, hebben we uw naam, e-mailadres en afleveradres nodig om uw bestelling
            uit te voeren. Om het winkelen bij The Retro Shop zo aangenaam mogelijk te laten zijn, slaan
            wij met uw toestemming uw persoonlijke gegevens en de gegevens met betrekking tot uw bestelling en het
            gebruik van onze diensten op. Hierdoor kunnen wij de website personaliseren en u artikelen aanbevelen
            die u mogelijk interessant vindt.
            <br><br>
            <b>3. Kan ik alleen met Ideal betalen?</b><br>
            Op dit moment wel ja. Maar dit kan in de toekomst nog veranderen. Hou de site in de gaten daarvoor.
            <br><br>
            <b>4. Hoe zit het met de verzendkosten?</b><br>
            Ik suggereer u dan om een kijkje te nemen in onze "Verzending" pagina.
            <br><br>
            <b>5. Ik ben niet blij met mijn product, kan ik het retourneren?</b><br>
            Zeker niet. Nee, nee, nee. Kopen is houden. Waarom? Omdat dit alleen nog meer programmeer werk is.
            <br><br>
            <b>6. Kan ik inloggen?</b><br>
            Dat kan jij zeker.
            <br><br>
            <b>7. Kan ik mijn merchandise aan jullie verkopen?</b><br>
            Nee.
            <br><br>
            <b>8. Wat zijn de openingstijden van jullie webshop?</b><br>
            Wij zijn 24 uur per dag open!
            <br><br>
            <b>9. Hoe laat is het?</b><br>
            Adventure time <i>Highfive</i>.
            <br><br>
            <img style="position:absolute; top:-10px; right:110px; width:200px;" src="~/Content/images/Boo_thinking.png">
            <img style="position:absolute; top:260px; right:11px; width:475px;" src="~/Content/images/supermanthinking.png">
            <br>
        </div>
    </div>
</div>
