﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    <style>
        body {
            background-image: url("Content/images/bc.jpg");
        }
        .topnav-right {
            float: right;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <p style="color:white;">
                    <a href="/"><b>The Retro Shop</b> <img src="~/Content/images/PlaceholderLogo.png" height="42" /></a>
                </p>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Shop", "index", "Products")</li>
                    <li>@Html.ActionLink("Wie zijn wij", "index", "AboutUs")</li>
                    <li>@Html.ActionLink("Reviews", "index", "Reviews")</li>
                    <li>@Html.ActionLink("Verzending", "index", "Shipments")</li>
                    <li>@Html.ActionLink("FAQ", "index", "FAQ")</li>
                    <li>@Html.ActionLink("Privacy", "index", "Privacy")</li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Winkelmandje", "index", "ShoppingCart")</li>
                    <li>@Html.ActionLink("Uw account", "index", "Profile")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <center>
            <footer>
                <p style="color:white;">&copy; @DateTime.Now.Year - Team S&S powered by Mischa, Rutger, Coen & Darrel</p>
            </footer>
        </center>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>



