﻿
@{
    ViewBag.Title = "Index";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <center><h2><b>Reviews</b></h2></center>
                <br>
                <center>
                    <b>Lees hier alle reviews van onze blije klanten! Ingestuurd via de post, want wij hebben geen idee hoe zij aan onze adres zijn gekomen.</b>
                </center>
                <br />

                <hr>

                <div class="media">
                    <div class="media-left">
                        <img src="~/Content/images/User1.jpg" class="media-object" style="width:60px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Cory</h4>
                        <p>"Deze website is in the house!"</p><small><i>Gepost op 18 maart, 2019</i></small>
                    </div>
                </div>

                <hr>

                <div class="media">
                    <div class="media-left">
                        <img src="~/Content/images/User3.jpg" class="media-object" style="width:60px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Rick S.</h4>
                        <p>"Deze site is ook wel leuk, maar waar blijft de Pickle Riiiiiiiiiiiiiiiiiiiiiick merchandise?"</p>
                        <small><i>Gepost op 20 maart, 2019</i></small>
                    </div>
                </div>

                <hr>

                <div class="media">
                    <div class="media-left">
                        <img src="~/Content/images/User4.png" class="media-object" style="width:60px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Sans</h4>
                        <p>"It's a beautiful website. Products are amazing, my wallet is crying. On websites like these...Bim'rs like you...SHOULD GIVE ME DISCOUNT."</p>
                        <small><i>Gepost op 24 maart, 2019</i></small>
                    </div>
                </div>

                <hr />

                <div class="media">
                    <div class="media-left">
                        <img src="~/Content/images/Toda.png" class="media-object" style="width:60px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Yoda</h4>
                        <p>"Buying I will."</p><small><i>Gepost op 27 maart, 2019</i></small>
                    </div>
                </div>

                <hr>

                <div class="media">
                    <div class="media-left">
                        <img src="~/Content/images/User2.jpeg" class="media-object" style="width:60px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Moscha van 👌 </h4>
                        <p>"Dit is een vrij kort en bondige website. Ik wacht echter nog op de fortnite merch. Ik hou erg veel van nootjes. Daarnaast hou ik enorm veel van games (vooral fortnite). Dus toen ik video games merchandise hier zag. was ik zo van: "Hey mama ik wil dit kopen.". Als klant wil ik ook graag dingen kopen zodat ik vrij formeel over kom (zoals een echter BIM'r). U vraagt u zelf vast af; hoe doe ik dit dan? Maar ik heb geen idee. Mijn teamgenoten zijn ook positief over mijn keuze. Ik zat er ook niet over te twijfelen (check mijn snapchat story daarvoor, ik post elke kwartier wat op mn snap, voeg me toe: _MessiahMischa) Wilt er iemand flossen trouwens?"</p>
                       
                        <small><i>Gepost op 29 maart, 2019</i></small>
                        <!-- Nested media object -->
                        <div class="media">
                            <div class="media-left">
                                <img src="~/Content/images/Stroopwafels.jpg" class="media-object" style="width:45px">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">droejS </h4>
                                <p>Nee, Mischa niemand wilt met je flossen. </p> <small><i>Gepost op 27 maart, 2019</i></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

