﻿
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <center><h2><b>Verzending</b></h2></center>
            <br>
            <b>Supersnelle gratis verzending!</b><br>
            In Nederland geldt: is je betaling vóór 21.00 uur bijgeschreven (ma - vrij) dan verzenden
            wij je bestelling op dezelfde werkdag (en dus in vrijwel alle gevallen de volgende dag in
            huis!).
            <br />
            Bovendien verzenden wij gratis naar Nederland, België, Duitsland, Luxemburg,
            Frankrijk, Oostenrijk, Denemarken en het Verenigd Koninkrijk.
            <br />
            Bestellingen naar de Verenigde Staten zijn gratis.
            <br />
            <br />
            <b>Verzendkosten en verwachte levertijd per land</b><br>
            Naar Nederland, België en Duitsland geldt voor pakketten in de regel een levertijd van 1 werkdag.
            Naar andere landen duurt het meer dan 1 dag.
            <br />
            <br />
            <b>Bezorgservice pakketpost Nederland: PostNL</b><br>
            Deze streeft ernaar om je bestelling binnen 1 dag (maandag t/m zaterdag m.u.v. Nederlandse zon-
            en feestdagen) af te leveren tussen 09.00 – 21.00 uur*. Is er onverhoopt niemand aanwezig, dan
            ontvang je een briefje in de bus waarop vermeld staat dat het pakket de eerstvolgende dag (m.u.v.
            zon- en feestdagen) zal worden aangeboden. Indien je deze dag ook niet aanwezig bent, kun je een
            andere afleverdatum kiezen of aangeven dat je het pakket wilt ophalen bij het dichtstbijzijnde
            afhaalpunt. Is er bij de 2de afleverpoging niemand aanwezig die je pakket in ontvangst kan nemen,
            dan zal PostNL je pakket onderbrengen bij het dichtstbijzijnde afhaalpunt. Hier kun je dan zelf
            binnen 2 weken je pakket afhalen. Het adres en de openingstijden vind je op het kaartje van PostNL
            dat de bezorger in je brievenbus heeft achtergelaten. PostNL bezorgt bij afwezigheid bij naaste buren.
            <br />
            <br />
            *<i>
                Je ontvangt tevens een e-mail waarin de levertijd vermeld staat, zodat je niet de hele dag thuis
                hoeft te blijven om je pakket in ontvangst te nemen!
            </i>
            <br />
            <br />
            <b>Bezorgservice pakketpost België: Belgische post Bpack 24h Pro.</b><br>
            Voor de verzending van de pakketten van onze Belgische klanten maken wij gebruik van de Belgische post: Bpack 24h Pro.
            Aflevering binnen 1 werkdag (maandag t/m vrijdag m.u.v. feestdagen) tussen 09.00 - 18.00 uur. Is er onverhoopt
            niemand aanwezig dan zal er een briefje achtergelaten worden om: eventueel een 2de aflevering aan te vragen óf
            het pakket zelf af te halen bij het postkantoor. Het voordeel van het postkantoor is dat deze vaak ook in de
            avonduren en op zaterdag geopend zijn. Is er bij de 2de aflevering wederom niemand aanwezig, dan kan men het
            pakket alsnog afhalen bij het postkantoor, hiervan ontvangt men een briefje in de brievenbus.
            <br />
            <br />
            <b>Bezorgservice pakketpost Duitsland: Deutsche Post</b><br>
            Voor de verzending van de pakketten van onze Duitse klanten maken wij gebruik van de Deutsche Post.
            Aflevering binnen 1 werkdag (maandag t/m zaterdag m.u.v. feestdagen) tussen 09.00 - 18.00 uur.
            Is er onverhoopt niemand aanwezig dan zal er een briefje achtergelaten worden om: eventueel een
            2de aflevering aan te vragen óf het pakket zelf af te halen bij het postkantoor. Het voordeel van
            het postkantoor is dat deze vaak ook in de avonduren en op zaterdag geopend zijn. Is er bij de
            2de aflevering wederom niemand aanwezig, dan kan men het pakket alsnog afhalen bij het postkantoor,
            hiervan ontvangt men een briefje in de brievenbus.
            <br />
            <br />
            <b>Bezorgservice pakketpost wereldwijd: Deutsche Post & Bpost</b><br>
            We streven ernaar om je bestelling binnen 1 werkdag met de Deutsche Post te versturen zodat zij
            het kunnen overdragen aan de bezorgdienst/post van jouw land. Pakketjes naar Amerika en Australië
            worden met Bpost verstuurd. Afhankelijk van de bezorgdienst/post van jouw land zal je pakketje zo
            snel mogelijk worden geleverd. De verwachte levertijden per land, vind je hierboven in de tabel.
            <br />
            <br />
            <center><img style="width:500px;" src="~/Content/images/Bezorging1.png">
            <img style="width:500px;" src="~/Content/images/Bezorging2.png"></center>
            <br>
        </div>
    </div>
</div>


