﻿
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-8">
        <div class="well">
            <center><h2><b>Privacy verklaring</b></h2></center>
            <br />
            <b>Algemeen:</b> <br />
            The Retro Shop respecteert de privacy van alle gebruikers van haar site en draagt er zorg voor
            dat de persoonlijke informatie die u ons verschaft vertrouwelijk wordt behandeld. Wij gebruiken
            uw gegevens om de bestellingen zo snel en gemakkelijk mogelijk te laten verlopen. Voor het overige
            zullen wij deze gegevens uitsluitend gebruiken met uw toestemming. The Retro Shop zal uw
            persoonlijke gegevens niet aan derden verkopen en zal deze uitsluitend aan derden ter beschikking
            stellen die zijn betrokken bij het uitvoeren van uw bestelling.
            <br />
            <br />
            <b>Gebruik van uw gegevens:</b><br />
            The Retro Shop gebruikt de verzamelde gegevens om haar klanten de volgende diensten te leveren:
            Als u een bestelling plaatst, hebben we uw naam, e-mailadres en afleveradres nodig om uw bestelling
            uit te voeren. Om het winkelen bij The Retro Shop zo aangenaam mogelijk te maken, slaan
            wij met uw toestemming uw persoonlijke gegevens en de gegevens met betrekking tot uw bestelling en het
            gebruik van onze diensten op. Hierdoor kunnen wij de website personaliseren en u artikelen aanbevelen
            die u mogelijk interessant vindt.
            <br />
            <br />
            <b>Cookies:</b><br />
            We gebruiken cookies om content en advertenties te personaliseren, om functies voor social media te
            bieden en om ons websiteverkeer te analyseren. Ook delen we informatie over uw gebruik van onze site
            met onze partners voor social media, adverteren en analyse. Deze partners kunnen deze gegevens combineren
            met andere informatie die u aan ze heeft verstrekt of die ze hebben verzameld op basis van uw gebruik van
            hun services.
            <br />
            <br />
            <b>Privacy</b><br />
            Wij hechten veel waarde aan de privacy van onze klanten en bezoekers.
            <br />
            <br />
            <b>Overige:</b><br />
            The Retro Shop verkoopt uw gegevens niet. The Retro Shop zal uw persoonlijke gegevens niet aan
            derden verkopen en zal deze uitsluitend aan derden ter beschikking stellen die zijn betrokken
            bij het uitvoeren van uw bestelling. Onze werknemers en door ons ingeschakelde derden zijn
            verplicht om de vertrouwelijkheid van uw gegevens te respecteren. Uw persoonlijke gegevens
            zijn veilig bij The Retro Shop. Wij waarderen het vertrouwen dat u in ons stelt en wij zullen
            daarom uiterst zorgvuldig met uw gegevens omgaan. Uw gegevens zullen te allen tijde worden beschermd
            en vertrouwelijk worden behandeld.
        </div>
    </div>

    <div class="col-sm-4">
        <img src="/Content/images/Da_Rules.png" style="width:100%" />
    </div>
</div>

