﻿@{
    ViewBag.Title = "Home Page";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
     .mySlides {
        display: none;
     }

     .boxed {
        border: 5px solid white;
        background-color: black;
     }

     body {
        background-image: url("Content/images/bc.jpg");
     }
 </style>
</head>

<body>
    <div class="jumbotron">
        <div class="w3-content w3-display-container">
            <center><h2 style="color:black;"><i>"It's dangerous to go alone, shop here."</i> - <b>Shigeru Miyamoto</b></h2></center>
            <img class="mySlides" src="~/Content/images/Banner4.png" style="width:100%">
            <img class="mySlides" src="~/Content/images/Banner2.jpg" style="width:100%">
            <img class="mySlides" src="~/Content/images/Banner3.png" style="width:100%">
            <img class="mySlides" src="~/Content/images/Banner1.jpg" style="width:99%">

            <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
            <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
        </div>

        <script>
            var slideIndex = 1;
            showDivs(slideIndex);

            function plusDivs(n) {
                showDivs(slideIndex += n);
            }

            function showDivs(n) {
                var i;
                var x = document.getElementsByClassName("mySlides");
                if (n > x.length) { slideIndex = 1 }
                if (n < 1) { slideIndex = x.length }
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                x[slideIndex - 1].style.display = "block";
            }
        </script>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="boxed">
                <center>
                    <h2 style="color:white;">Tijdelijke actie!</h2>
                    <img src="~/Content/images/Korting.png" style="width:150px" height:"200px">
                    <br />
                    <br />
                    <p style="color:white;">Om de nieuwe Avengers: Endgame te vieren, hebben wij speciale Marvel merchandise! Koop ze, want op=op!</p>
                    <br />
                    <p style="color:white;"><a class="btn btn-default" href="/products">Breng mij ernaar toe!</a></p>
                </center>
            </div>
        </div>
        <div class="col-md-4">
            <div class="boxed">
                <center>
                    <h2 style="color:white;">Wie zijn wij?</h2>
                    <img src="~/Content/images/WhoAreWe.jpg" style="width:222px">
                    <br />
                    <br />
                    <p style="color:white;">Deze webshop is gemaakt door 4 geniale studenten! Wilt u meer weten over ons team en ons bedrijf? Klik dan hieronder!</p>
                    <br />
                    <p style="color:white;"><a class="btn btn-default" href="/aboutus">Wauw, vertel me meer!</a></p>
                </center>
            </div>
        </div>
        <div class="col-md-4">
            <div class="boxed">
                <center>
                    <h2 style="color:white;">Nieuwe collectie!</h2>
                    <img src="~/Content/images/NewCollection.jpg" style="width:154px">
                    <br />
                    <br />
                    <p style="color:white;">De gloednieuwe super vette Pokémon collectie is hier! Heb jij ze allemaal al gekocht? Wordt de aller coolste trainer!</p>
                    <br />
                    <p style="color:white;"><a class="btn btn-default" href="/products">Vertel meer!</a></p>
                </center>
            </div>
        </div>
    </div>
</body>