﻿@model IEnumerable<SchoolMVC.Models.Category>
<style>
    .banner {
        align-items: center;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        overflow: hidden;
        position: relative;
        text-align: center;
        width: 100%;
    }
    .product-display {
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0,0,0,.25);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .product-display__visual {
        background-color: #f7f7f7;
        flex: 0 0 auto;
        position: relative;
        text-align: center;
        height: 20rem;
    }

    .product-display__categories {
        background-color: rgba(0,0,0,.6);
        box-shadow: 0 2px 4px rgba(0,0,0,.5);
        border-radius: .3rem;
        bottom: 1rem;
        color: #fff;
        display: inline-block;
        left: 2rem;
        padding: .5rem 1.2rem;
        position: absolute;
    }

    .product-display__info {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem 2rem 3.5rem;
    }
    .product-display__image-link {
        background-size: cover;
        background-position: 50%;
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
    }
</style>
@{
    ViewBag.Title = "Index";
}
<div class="col-sm-12">
    <div class="banner">

    <h2>Index</h2>
        
    <form asp-controller="Categories" asp-action="Index">
        @Html.ActionLink("Create New", "Create")


        <p>
            Title: <input type="text" name="SearchString">
            <input type="submit" value="Filter" />
        </p>
    </form>
    </div>
</div>

        
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="product-display">
                        <div class="product-display__visual">
                            <a class="product-display__image-link lazyload is-lazyloaded" href="/bugs/" style="background-image:url('/Content/images/TestImage.jpeg');"><img src="~/Conten/images/TestImage.jpeg"/></a>

                            <div class="product-display__categories">
                                Teamgenoot
                            </div>
                        </div>
                        <div class="product-display__info">
                        @Html.DisplayFor(modelItem => item.Type)
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </div>
                    </div>
                </div>

            }
        </div>

